---
import "@/styles/global.css";
import Hero from "@/sections/Hero"
import Navbar from "@/sections/Navbar"
import Infinitebar from "@/sections/Infinitebar"
import Benefits from "@/sections/Benefits"
import Frameworks from "@/sections/Frameworks";
import CustomerStories from "@/sections/CustomerStories";
import Templates from "@/sections/Templates";
import Video from "@/sections/Video";
import Relleno from "@/sections/Relleno"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navbar client:load />
		<Hero client:load />
		<Infinitebar client:load />
		<Benefits client:load />
		<Frameworks client:load />
		<CustomerStories client:load />
		<Templates client:load />
		<Video client:load />
		<Relleno />
	</body>
</html>
